html {

  font-family: 'josefin', sans-serif;
  color: black;
  background-color: rgb(255, 230, 196);
  margin-left: 1%;
  color: rgb(17, 159, 159);
  }
  
  header {
    background-color: rgb(28, 164, 162);
    margin-bottom: 30px;
  }
  
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 15px; 
    font-size: 30px;
  }
  
  h1, h2, h5 {
    color: rgb(17, 159, 159);
  }
  
  main {
    width: 700px;
    margin: auto;
  }
  
  #sal {
    width: 100%;
  }
      
  footer {
    background-color: rgb(28, 164, 162);
    height: 100px;
  }
    
  footer p {
    padding-top: 75px;
    padding-left: 5px;
  }    
  
footer p {
  margin: auto;
  padding-left: 5px;
}    

th,
td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(202, 125, 31, 0.818);
  color: white;
}

td {
  text-align: right;
}

.family{
  margin-left: 25%;
  display: inline-block;
  border-radius: 20px;
}

img {
  border-radius: 20px;
}

img.chinook {
  margin-left: 41%;
}


.images {
  display: flex;
  width: 200px;
  height: 200px;
  
}

section.images {
  margin-left: 335px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

section:nth-of-type(n+4) {
  flex-direction: column;
  text-align: center;
  align-content: center;

}

section:nth-of-type(8) {
  align-items: center;
}

section ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 5px;
}

section li {
  flex: 1;
}

figure img {
  object-fit: contain;
  border-radius: 25px;
  margin-bottom: 10px;
}

p {
  border-style: none;
  font-style: italic;
  flex: 1;
  overflow-y: scroll;
  margin-bottom: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgba(119, 68, 5, 0.818);
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: auto;
}

form legend {
  font-weight: bold;
}

form input {
  display: block;
}

form button {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
}

#fish {
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

