html {
font-family: 'Raleway', sans-serif;
color: black;
background-color: rgb(255, 230, 196);
}

header {
  background-color: rgb(28, 164, 162);
  margin-bottom: 30px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 15px; 
  font-size: 30px;
}

h1, h2 {
  color: rgb(17, 159, 159);
}

main {
  width: 250px;
  margin: auto;
}

#sal {
  width: 100%;
}
    
footer {
  background-color: rgb(28, 164, 162);
  height: 100px;
}
  
footer p {
  padding-top: 75px;
  padding-left: 5px;
}    